body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.car-container {
    display: flex;
    justify-content: center;
    
    
}

.car-container div {
  margin-top: 60px;
  background-color: rgb(109, 109, 109);

}
.car-container div:hover{
  background-color: aqua;
  cursor: pointer;
}



